
@tailwind base;
@tailwind components;
@tailwind utilities;

.body{

background-color: #f5f5f5;
 

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-login{

	position: absolute;
top: 50%;
left: 50%;
width: 70%;

margin: 20px auto;
transform: translate(-50%, -55%);

box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
border-radius: 10px;
}
.servi-log{
	
	width: 69%;
	

}

.card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 18px;
 
}

.chat-window {
  height: 400px;
  overflow-y: scroll;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 13px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.float-btn {
  position: fixed;
  bottom: 20px;
  z-index: 1;
}

.sm\:center-btn {
  @media (max-width: 576px) { /* adjust the breakpoint as needed */
    position: fixed;
    bottom: 20px;
    left: 50%;
    right: 164px;
  }
}
.tooltip {
  @media (max-width: 576px) {
    .ant-tooltip-inner {
      display: none;
    }
  }
}
/* Hide the NavLink element on desktop screens */
.nav-link-mobile {
  display: none;
}

/* Show the NavLink element on mobile screens */
@media only screen and (max-width: 768px) {
 .nav-link-mobile {
    display: block;
  }
}
.icon {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-on-desktop {
  display: none;
}

/* Mostrar solo en pantallas pequeñas (mobiles) */
@media (max-width: 767.98px) {
  .hidden-on-desktop {
    display: block;
  }
}

